workflows/4-chunking/Search for News.json
{
  "name": "Search for News",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [{\n  searchText: 'Bedingungsloses Grundeinkommen',\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -48
      ],
      "id": "cd81ef6b-8715-4c54-9add-ad393e40c081",
      "name": "Define searchText"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "embeddinggemma"
            },
            {
              "name": "prompt",
              "value": "={{ $json.searchText }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        -48
      ],
      "id": "59a63b9b-8fea-4fc4-a8a2-3b77084cef66",
      "name": "Vectorising searchText"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ranked_chunks AS (\n    SELECT\n        news_id,\n        chunks.embedding <-> ARRAY[{{$json.embedding.join(', ')}}]::vector(768) AS distance,\n        ROW_NUMBER() OVER (PARTITION BY news_id ORDER BY chunks.embedding <-> ARRAY[{{$json.embedding.join(', ')}}]::vector(768) ASC) AS rn\n    FROM\n        chunks\n)\nSELECT\n    n.id,\n    n.title,\n    n.text,\n    n.published_at,\n    n.url,\n    rc.distance\nFROM\n    ranked_chunks AS rc\nINNER JOIN\n    news AS n ON n.id = rc.news_id\nWHERE\n    rc.rn = 1\nORDER BY\n    rc.distance ASC\nLIMIT 20;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        -48
      ],
      "id": "e263699e-1088-4ebc-b3ca-f00668007bed",
      "name": "SELECT nearest News",
      "credentials": {
        "postgres": {
          "id": "eyuB8DY6gvj3FVFl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        -48
      ],
      "id": "95939cba-fc08-478c-af26-61180590713c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const allResults = $input.all().map(item => item.json);\nconst searchText = $('Define searchText').first().json.searchText;\n\nallResults.sort((a, b) => {\n  const aTitleMatch = a.title.includes(searchText);\n  const bTitleMatch = b.title.includes(searchText);\n  if (aTitleMatch && !bTitleMatch) {\n    return -1;\n  }\n  if (!aTitleMatch && bTitleMatch) {\n    return 1;\n  }\n\n  const aTextMatch = a.text.includes(searchText);\n  const bTextMatch = b.text.includes(searchText);\n  if (aTextMatch && !bTextMatch) {\n    return -1;\n  }\n  if (!aTextMatch && bTextMatch) {\n    return 1;\n  }\n\n  return 0;\n});\n\nreturn allResults.slice(0, 10);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -48
      ],
      "id": "4f54f89b-0ba1-4142-a61f-aca6813b2f3d",
      "name": "Reranking"
    }
  ],
  "pinData": {},
  "connections": {
    "Define searchText": {
      "main": [
        [
          {
            "node": "Vectorising searchText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vectorising searchText": {
      "main": [
        [
          {
            "node": "SELECT nearest News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Define searchText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT nearest News": {
      "main": [
        [
          {
            "node": "Reranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c81d360c-2ef6-45b8-b77e-1c413d642d78",
  "meta": {
    "instanceId": "8ed4471de2dc5b30576f1e695a9776eb91f52e51e819d1e57038b733d5ba24b9"
  },
  "id": "roidju8d53GjeAYL",
  "tags": []
}